@charset "UTF-8";

.table_inquiry table {
  table-layout:fixed;
  width:40%;
}
.table_inquiry th {
	width:15%;
}
.table_inquiry td {
	width:35%;
}

/*.customer_edit_table table{
	table-layout:fixed;
	width:80%;
}
.customer_edit_table th{
	width: 15%;
}
.customer_edit_table td{
	width: auto;
}*/
